/* -------------------- CHARTE GRAPHIQUE ------------ */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
:root {
  --white: #FFF;
  --black: #111;
  --bleuclair: #20A6E0;
  --bleu:#007ea8e0;
  --bleufonce: #153557;
  --jauneclair: #F9EC64;
  --jaune:#FFE917;
  --jaunefonce: #FFDA3F;
}

@font-face {
  font-family: "MavenBlack";
  font-weight: 900;
  src: url("../font/MavenPro-Black.ttf");
}

@font-face {
  font-family: "MavenBold";
  font-weight: bold;
  src: url("../font/MavenPro-Bold.ttf");
}

@font-face {
  font-family: "MavenMedium";
  src: url("../font/MavenPro-Medium.ttf");
}

@font-face {
  font-family: "MavenRegular";
  src: url("../font/MavenPro-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

#header_accueil {
  background-image: url("../images/image_accueil.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 880px;
}

#header_accueil #titre {
  font-family: "MavenBold";
  font-size: 6rem;
  margin-left: 35%;
  margin-top: 23%;
  position: absolute;
  color: white;
}

#contenu_accueil {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5vh 20vh 5vh 20vh 90vh 20vh;
      grid-template-rows: 5vh 20vh 5vh 20vh 90vh 20vh;
  margin-left: 30px;
  margin-right: 30px;
}

#contenu_accueil #information {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
}

#contenu_accueil #information h3 {
  font-family: "MavenRegular";
  font-size: 2rem;
  color: var(--bleuclair);
  font-weight: lighter;
  text-align: center;
}

#contenu_accueil #titre2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  text-align: center;
}

#contenu_accueil #titre2 h2 {
  font-family: "MavenBold";
  font-size: 4rem;
  color: var(--bleu);
}

#contenu_accueil #titre2 h2:after {
  content: "";
  display: block;
  width: 150px;
  background-color: var(--jaune);
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#contenu_accueil #btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
}

#contenu_accueil #btn button {
  background-color: var(--jaunefonce);
  width: 30%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-color: var(--jaunefonce);
  cursor: pointer;
  font-family: "MavenBold";
  color: var(--bleu);
  font-size: 2rem;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70vh 3vh 4vh;
      grid-template-rows: 70vh 3vh 4vh;
  -ms-grid-columns: 1fr 25% 1fr 30% 1fr 30% 1fr;
      grid-template-columns: 1fr 25% 1fr 30% 1fr 30% 1fr;
  background-color: var(--bleufonce);
  border-radius: 55px 55px 0 0;
}

footer #colonne1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 10% 15% 15% 15% 20% 15%;
      grid-template-rows: 5% 10% 15% 15% 15% 20% 15%;
  -ms-grid-columns: 1fr 25% 1fr;
      grid-template-columns: 1fr 25% 1fr;
  color: white;
}

footer #colonne1 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  color: white;
  font-size: 2rem;
}

footer #colonne1 #reseaux1, footer #colonne1 #reseaux2, footer #colonne1 #reseaux3, footer #colonne1 #reseaux4, footer #colonne1 #texteReseaux {
  margin-top: auto;
  margin-bottom: auto;
}

footer #colonne1 #reseaux1 h3, footer #colonne1 #reseaux2 h3, footer #colonne1 #reseaux3 h3, footer #colonne1 #reseaux4 h3, footer #colonne1 #texteReseaux h3 {
  font-family: "MavenRegular";
}

footer #colonne1 #reseaux1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne1 #icon1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer #colonne1 .fab {
  border-radius: 50%;
  background-color: var(--jauneclair);
  width: 70px;
  height: 70px;
  margin: auto;
}

footer #colonne1 .fa-facebook-square, footer #colonne1 .fa-twitter, footer #colonne1 .fa-instagram, footer #colonne1 .fa-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  color: black;
}

footer #colonne1 #reseaux2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne1 #icon2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer #colonne1 #reseaux3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne1 #icon3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer #colonne1 #reseaux4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne1 #icon4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer #colonne1 #texteReseaux {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

footer #colonne2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 15% 11% 11% 11% 11% 11% 11% 11%;
      grid-template-rows: 5% 15% 11% 11% 11% 11% 11% 11% 11%;
  -ms-grid-columns: 3fr 10% 1fr;
      grid-template-columns: 3fr 10% 1fr;
  margin-left: auto;
  margin-right: auto;
  color: var(--jaune);
}

footer #colonne2 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  color: white;
  font-size: 2rem;
}

footer #colonne2 #page1, footer #colonne2 #page2, footer #colonne2 #page3, footer #colonne2 #page4, footer #colonne2 #page5, footer #colonne2 #page6, footer #colonne2 #page7 {
  margin-top: auto;
  margin-bottom: auto;
}

footer #colonne2 #page1 h3, footer #colonne2 #page2 h3, footer #colonne2 #page3 h3, footer #colonne2 #page4 h3, footer #colonne2 #page5 h3, footer #colonne2 #page6 h3, footer #colonne2 #page7 h3 {
  font-family: "MavenRegular";
}

footer #colonne2 #page1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 8;
  grid-row: 8;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 9;
  grid-row: 9;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 15% 25% 25% 30%;
      grid-template-rows: 5% 15% 25% 25% 30%;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
}

footer #colonne3 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  color: white;
  font-size: 2rem;
}

footer #colonne3 #infos_site, footer #colonne3 #infos_adresse, footer #colonne3 #infos_tel {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

footer #colonne3 #infos_site h3, footer #colonne3 #infos_adresse h3, footer #colonne3 #infos_tel h3 {
  font-family: "MavenRegular";
}

footer #colonne3 #infos_tel {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer #colonne3 #icon1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne3 .fas {
  border-radius: 50%;
  background-color: var(--jauneclair);
  width: 70px;
  height: 70px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

footer #colonne3 .fa-phone-alt, footer #colonne3 .fa-map-marker-alt, footer #colonne3 .fa-route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  color: black;
}

footer #colonne3 #infos_adresse {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer #colonne3 #icon2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne3 #infos_site {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer #colonne3 #icon3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #mentionslegales h3, footer #politique h3, footer #cookies h3, footer #plansite h3 {
  font-family: "MavenRegular";
  font-weight: lighter;
  color: white;
  font-size: 15px;
}

footer #mentionslegales {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer #politique {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
}

footer #cookies {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 6;
  grid-column: 6;
  text-align: right;
}

footer #plansite {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: right;
}

@media (min-width: 1281px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'MavenBold';
  }
  nav {
    background: var(--black);
  }
  nav:after {
    content: '';
    clear: both;
    display: table;
  }
  nav .logo img {
    float: left;
    width: 10%;
    margin: 10px 0 10px 10%;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    line-height: 100px;
    list-style: none;
    position: relative;
    margin-right: 10%;
  }
  nav ul li {
    text-align: left;
    display: inline-block;
    background: var(--black);
    margin: 0 5px;
  }
  nav ul li a {
    color: var(--white);
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 50px;
  }
  nav ul li a:hover {
    color: var(--bleuclair);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px var(--bleu), 0 0 10px var(--bleuclair);
            box-shadow: 0 0 5px var(--bleu), 0 0 10px var(--bleuclair);
  }
  nav ul ul li a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav ul ul {
    position: absolute;
    top: 120px;
    border-top: 3px solid var(--bleuclair);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: top .3s;
    transition: top .3s;
  }
  nav ul li:hover > ul {
    top: 100px;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li {
    position: relative;
    margin: 0px;
    width: auto;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid var(--bleu);
    text-align: center;
  }
  nav ul ul li a {
    line-height: 50px;
  }
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,
  .icon,
  input {
    display: none;
  }
  .fa-plus {
    font-size: 15px;
    margin-left: 40px;
  }
}

@media all and (min-width: 1281px) and (max-width: 1280px) {
  nav .logo img {
    width: 25%;
    margin: 10px 0;
  }
  nav ul {
    margin-right: 0px;
    text-align: center;
    width: 100% !important;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100% !important;
  }
  nav ul li a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .show {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: var(--bleuclair);
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 100px;
    cursor: pointer;
    font-size: 2em;
  }
  nav ul ul {
    width: 100%;
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    text-align: center;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^=btn]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: '\f00d';
  }
}

@media (min-width: 1281px) {
  .content {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  p {
    font-size: 30px;
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1240px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'MavenBold';
  }
  nav {
    background: var(--black);
  }
  nav:after {
    content: '';
    clear: both;
    display: table;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  nav ul {
    width: 100%;
    text-align: center;
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
  }
  nav ul li {
    background: var(--black);
    margin: 0 5px;
  }
  nav ul li a {
    color: var(--white);
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }
  nav ul li a:hover {
    color: var(--bleuclair);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px var(--bleu), 0 0 10px var(--bleuclair);
            box-shadow: 0 0 5px var(--bleu), 0 0 10px var(--bleuclair);
  }
  nav ul ul li a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid var(--bleuclair);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: top .3s;
    transition: top .3s;
  }
  nav ul ul ul {
    border-top: none;
  }
  nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid var(--black);
  }
  nav ul ul li a {
    line-height: 50px;
  }
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,
  .icon,
  input {
    display: none;
  }
  .fa-plus {
    font-size: 15px;
    margin-left: 40px;
  }
  header {
    background-image: url("../images/image_accueil.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 730px;
  }
  header #titre {
    font-family: "MavenBold";
    font-size: 4rem;
    margin-left: 35%;
    margin-top: 23%;
    position: absolute;
    color: white;
  }
}

#contenu_accueil {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5vh 20vh 5vh 20vh 90vh 15vh;
      grid-template-rows: 5vh 20vh 5vh 20vh 90vh 15vh;
  margin-left: 30px;
  margin-right: 30px;
}

#contenu_accueil #information {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
}

#contenu_accueil #information h3 {
  font-family: "MavenRegular";
  font-size: 25px;
  color: var(--bleuclair);
  font-weight: lighter;
  text-align: center;
}

#contenu_accueil #titre2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  text-align: center;
}

#contenu_accueil #titre2 h2 {
  font-family: "MavenBold";
  font-size: 3rem;
  color: var(--bleu);
}

#contenu_accueil #titre2 h2:after {
  content: "";
  display: block;
  width: 150px;
  background-color: var(--jaune);
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#contenu_accueil #btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
}

#contenu_accueil #btn button {
  background-color: var(--jaunefonce);
  width: 30%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  border-color: var(--jaunefonce);
  cursor: pointer;
  font-family: "MavenBold";
  color: var(--bleu);
  font-size: 25px;
}

#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 65vh 1vh 4vh;
      grid-template-rows: 65vh 1vh 4vh;
  -ms-grid-columns: 2fr 20% 3fr 20% 1fr 30% 1fr;
      grid-template-columns: 2fr 20% 3fr 20% 1fr 30% 1fr;
  background-color: var(--bleufonce);
  border-radius: 55px 55px 0 0;
}

#footer #colonne1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 10% 15% 15% 15% 20% 15%;
      grid-template-rows: 5% 10% 15% 15% 15% 20% 15%;
  -ms-grid-columns: 1fr 25% 1fr;
      grid-template-columns: 1fr 25% 1fr;
  color: white;
}

#footer #colonne1 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  color: white;
  font-size: 30px;
}

#footer #colonne1 #reseaux1, #footer #colonne1 #reseaux2, #footer #colonne1 #reseaux3, #footer #colonne1 #reseaux4, #footer #colonne1 #texteReseaux {
  margin-top: auto;
  margin-bottom: auto;
}

#footer #colonne1 #reseaux1 h3, #footer #colonne1 #reseaux2 h3, #footer #colonne1 #reseaux3 h3, #footer #colonne1 #reseaux4 h3, #footer #colonne1 #texteReseaux h3 {
  font-family: "MavenRegular";
  font-size: 15px;
}

#footer #colonne1 #reseaux1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne1 #icon1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

#footer #colonne1 .fab {
  border-radius: 50%;
  background-color: var(--jauneclair);
  width: 45px;
  height: 45px;
  margin: auto;
}

#footer #colonne1 .fa-facebook-square, #footer #colonne1 .fa-twitter, #footer #colonne1 .fa-instagram, #footer #colonne1 .fa-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  color: black;
}

#footer #colonne1 #reseaux2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne1 #icon2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  grid-column: 3;
}

#footer #colonne1 #reseaux3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne1 #icon3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 3;
  grid-column: 3;
}

#footer #colonne1 #reseaux4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne1 #icon4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 3;
  grid-column: 3;
}

#footer #colonne1 #texteReseaux {
  display: none;
}

#footer #colonne2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 15% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-rows: 5% 15% 10% 10% 10% 10% 10% 10% 10%;
  -ms-grid-columns: 3fr 10% 1fr;
      grid-template-columns: 3fr 10% 1fr;
  margin-left: auto;
  margin-right: auto;
  color: var(--jaune);
}

#footer #colonne2 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  color: white;
  font-size: 30px;
}

#footer #colonne2 #page1, #footer #colonne2 #page2, #footer #colonne2 #page3, #footer #colonne2 #page4, #footer #colonne2 #page5, #footer #colonne2 #page6, #footer #colonne2 #page7 {
  margin-top: auto;
  margin-bottom: auto;
}

#footer #colonne2 #page1 h3, #footer #colonne2 #page2 h3, #footer #colonne2 #page3 h3, #footer #colonne2 #page4 h3, #footer #colonne2 #page5 h3, #footer #colonne2 #page6 h3, #footer #colonne2 #page7 h3 {
  font-family: "MavenRegular";
  font-size: 15px;
}

#footer #colonne2 #page1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne2 #page2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne2 #page3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne2 #page4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne2 #page5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne2 #page6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 8;
  grid-row: 8;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne2 #page7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 9;
  grid-row: 9;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 15% 25% 25% 30%;
      grid-template-rows: 5% 15% 25% 25% 30%;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
}

#footer #colonne3 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  color: white;
  font-size: 30px;
}

#footer #colonne3 #infos_site, #footer #colonne3 #infos_adresseTab, #footer #colonne3 #infos_telTab {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

#footer #colonne3 #infos_site h3, #footer #colonne3 #infos_adresseTab h3, #footer #colonne3 #infos_telTab h3 {
  font-family: "MavenRegular";
  font-size: 15px;
}

#footer #colonne3 #infos_tel {
  display: none;
}

#footer #colonne3 #infos_telTab {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

#footer #colonne3 #icon1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne3 .fas {
  border-radius: 50%;
  background-color: var(--jauneclair);
  width: 45px;
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

#footer #colonne3 .fa-phone-alt, #footer #colonne3 .fa-map-marker-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  color: black;
}

#footer #colonne3 #infos_adresse {
  display: none;
}

#footer #colonne3 #infos_adresseTab {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

#footer #colonne3 #icon2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

#footer #colonne3 #infos_site {
  display: none;
}

#footer #colonne3 #icon3 {
  display: none;
}

#footer #mentionslegales h3, #footer #politique h3, #footer #cookies h3, #footer #plansite h3 {
  font-family: "MavenRegular";
  font-weight: lighter;
  color: white;
  font-size: 13px;
}

#footer #mentionslegales {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

#footer #politique {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / span 4;
}

#footer #cookies {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 6;
  grid-column: 6;
  text-align: right;
}

#footer #plansite {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: right;
}

@media all and (max-width: 1280px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo img {
    width: 200px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .fa-sort-down {
    color: var(--jaunefonce);
    font-size: 2em;
    margin-left: 20px;
  }
  .show, .an {
    display: block;
    color: var(--bleuclair);
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: var(--bleuclair);
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 100px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^=btn]:checked + ul {
    display: block;
  }
  [id^=btn]:checked .fa-sort-down {
    display: none;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: '\f00d';
  }
}

.content {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

p {
  font-size: 30px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

#header_actualites {
  background-image: url("../images/image_actualites.jpg");
  background-size: cover;
  height: 870px;
  width: 100%;
}

#header_actualites #titre {
  font-family: "MavenBold";
  font-size: 6rem;
  margin-left: 35%;
  margin-top: 23%;
  position: absolute;
  color: white;
}

#contenu_actualites {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 60fr 2fr 20fr 5fr;
      grid-template-columns: 5fr 60fr 2fr 20fr 5fr;
  -ms-grid-rows: 100vh 100vh;
      grid-template-rows: 100vh 100vh;
}

#contenu_actualites #les_actualites {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-columns: 70fr;
      grid-template-columns: 70fr;
  -ms-grid-rows: 5vh 20vh 5vh 70vh;
      grid-template-rows: 5vh 20vh 5vh 70vh;
}

#contenu_actualites #les_actualites #titreactualite {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  font-family: "MavenBold";
  font-size: 40px;
  color: var(--bleu);
}

#contenu_actualites #les_actualites #article_actualite {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 60vh;
      grid-template-rows: 10vh 60vh;
  -ms-grid-columns: 5fr 50fr 5fr;
      grid-template-columns: 5fr 50fr 5fr;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
}

#contenu_actualites #les_actualites #article_actualite #datearticle_actualite {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

#contenu_actualites #les_actualites #article_actualite #datearticle_actualite p {
  font-family: "MavenBold";
  font-size: 20px;
}

#contenu_actualites #les_actualites #article_actualite #contenuarticle_actualites {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-columns: 40% 5fr;
      grid-template-columns: 40% 5fr;
  -ms-grid-rows: 40% 5fr;
      grid-template-rows: 40% 5fr;
  border: solid 1px black;
  border-radius: 0 40px 40px 40px;
  -webkit-box-shadow: 3px 3px 12px #555;
          box-shadow: 3px 3px 12px #555;
}

#contenu_actualites #les_actualites #article_actualite #contenuarticle_actualites #imgarticle {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

#contenu_actualites #les_actualites #article_actualite #contenuarticle_actualites p {
  font-size: 15px;
  font-family: "MavenRegular";
}

h1 {
  color: var(--bleufonce);
  font-family: "MavenBlack";
}

#contenu_profil {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 47vh 44vh 50vh;
      grid-template-rows: 47vh 44vh 50vh;
}

#contenu_profil #contenuInfos_Profil {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5% 1% 10fr 15fr 5% 1% 10fr 1fr;
      grid-template-columns: 1fr 5% 1% 10fr 15fr 5% 1% 10fr 1fr;
  -ms-grid-rows: 1vh 10vh 32vh;
      grid-template-rows: 1vh 10vh 32vh;
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: var(--bleufonce);
}

#contenu_profil #contenuInfos_Profil .fab, #contenu_profil #contenuInfos_Profil .fas {
  border-radius: 50%;
  background-color: var(--jauneclair);
  width: 60px;
  height: 60px;
  margin: auto;
}

#contenu_profil #contenuInfos_Profil .fa-fort-awesome, #contenu_profil #contenuInfos_Profil .fa-info-circle, #contenu_profil #contenuInfos_Profil .fa-swimmer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  color: black;
}

#contenu_profil #contenuInfos_Profil #logo1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

#contenu_profil #contenuInfos_Profil #titre_typeParc {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: "MavenRegular";
  font-size: 25px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

#contenu_profil #contenuInfos_Profil #infos_typeParc {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
  color: white;
  font-family: "MavenRegular";
  font-size: 20px;
}

#contenu_profil #contenuInfos_Profil #logo2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 5;
  grid-column: 5;
}

#contenu_profil #contenuInfos_Profil #infos_utilisateur {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 5;
  grid-column: 5;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "MavenRegular";
  margin-top: auto;
  margin-bottom: auto;
}

#contenu_profil #contenuInfos_Profil #logo3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 6;
  grid-column: 6;
}

#contenu_profil #contenuInfos_Profil #titre_loisirs {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: "MavenRegular";
  font-size: 25px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

#contenu_profil #contenuInfos_Profil #infos_loisir {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 8;
  grid-column: 8;
  font-family: "MavenRegular";
  font-size: 20px;
  color: white;
}

#contenu_profil #img_banniere {
  background-image: url("../images/banner.jpg");
  background-size: 1720px 400px;
  background-repeat: no-repeat;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 35vh 5vh 8vh;
      grid-template-rows: 35vh 5vh 8vh;
  -ms-grid-row: 1;
  grid-row: 1;
}

#contenu_profil #img_banniere #img_profil {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 215px;
  width: 215px;
  border-radius: 50%;
  background-image: url("../images/Baptiste.jpg");
  background-size: 220px 220px;
  background-repeat: no-repeat;
  background-position: center;
}

#contenu_profil #img_banniere #infos_profil {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 24.5% 1fr 24.5% 25%;
      grid-template-columns: 25% 24.5% 1fr 24.5% 25%;
  -ms-grid-rows: 1vh 5vh;
      grid-template-rows: 1vh 5vh;
}

#contenu_profil #img_banniere #infos_profil #prenom_infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: right;
}

#contenu_profil #img_banniere #infos_profil #prenom_infos h3 {
  font-size: 25px;
  font-family: "MavenBold";
  color: var(--bleuclair);
}

#contenu_profil #img_banniere #infos_profil #nom_infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
  text-align: left;
}

#contenu_profil #img_banniere #infos_profil #nom_infos h3 {
  font-size: 25px;
  font-family: "MavenBold";
  color: var(--bleuclair);
}

#contenu_profil #img_banniere #infos_profil #btn_modifier_profil {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 5;
  grid-column: 5;
}

#contenu_profil #img_banniere #infos_profil #btn_modifier_profil button {
  height: 35px;
  width: 300px;
  border-radius: 30px;
  background-color: var(--bleufonce);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

#contenu_profil #img_banniere #infos_bio {
  display: -ms-grid;
  display: grid;
  color: white;
  font-size: 22px;
  text-align: center;
  font-family: "MavenRegular";
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70vh 3vh 4vh;
      grid-template-rows: 70vh 3vh 4vh;
  -ms-grid-columns: 1fr 25% 1fr 30% 1fr 30% 1fr;
      grid-template-columns: 1fr 25% 1fr 30% 1fr 30% 1fr;
  background-color: var(--bleufonce);
  border-radius: 55px 55px 0 0;
}

footer #colonne1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 10% 15% 15% 15% 20% 15%;
      grid-template-rows: 5% 10% 15% 15% 15% 20% 15%;
  -ms-grid-columns: 1fr 25% 1fr;
      grid-template-columns: 1fr 25% 1fr;
  color: white;
}

footer #colonne1 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  color: white;
  font-size: 2rem;
}

footer #colonne1 #reseaux1, footer #colonne1 #reseaux2, footer #colonne1 #reseaux3, footer #colonne1 #reseaux4, footer #colonne1 #texteReseaux {
  margin-top: auto;
  margin-bottom: auto;
}

footer #colonne1 #reseaux1 h3, footer #colonne1 #reseaux2 h3, footer #colonne1 #reseaux3 h3, footer #colonne1 #reseaux4 h3, footer #colonne1 #texteReseaux h3 {
  font-family: "MavenRegular";
}

footer #colonne1 #reseaux1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne1 #icon1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer #colonne1 .fab {
  border-radius: 50%;
  background-color: var(--jauneclair);
  width: 70px;
  height: 70px;
  margin: auto;
}

footer #colonne1 .fa-facebook-square, footer #colonne1 .fa-twitter, footer #colonne1 .fa-instagram, footer #colonne1 .fa-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  color: black;
}

footer #colonne1 #reseaux2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne1 #icon2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer #colonne1 #reseaux3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne1 #icon3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer #colonne1 #reseaux4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne1 #icon4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer #colonne1 #texteReseaux {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

footer #colonne2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 15% 11% 11% 11% 11% 11% 11% 11%;
      grid-template-rows: 5% 15% 11% 11% 11% 11% 11% 11% 11%;
  -ms-grid-columns: 3fr 10% 1fr;
      grid-template-columns: 3fr 10% 1fr;
  margin-left: auto;
  margin-right: auto;
  color: var(--jaune);
}

footer #colonne2 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  color: white;
  font-size: 2rem;
}

footer #colonne2 #page1, footer #colonne2 #page2, footer #colonne2 #page3, footer #colonne2 #page4, footer #colonne2 #page5, footer #colonne2 #page6, footer #colonne2 #page7 {
  margin-top: auto;
  margin-bottom: auto;
}

footer #colonne2 #page1 h3, footer #colonne2 #page2 h3, footer #colonne2 #page3 h3, footer #colonne2 #page4 h3, footer #colonne2 #page5 h3, footer #colonne2 #page6 h3, footer #colonne2 #page7 h3 {
  font-family: "MavenRegular";
}

footer #colonne2 #page1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 8;
  grid-row: 8;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne2 #page7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 9;
  grid-row: 9;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 5% 15% 25% 25% 30%;
      grid-template-rows: 5% 15% 25% 25% 30%;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
}

footer #colonne3 h2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  color: white;
  font-size: 2rem;
}

footer #colonne3 #infos_site, footer #colonne3 #infos_adresse, footer #colonne3 #infos_tel {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

footer #colonne3 #infos_site h3, footer #colonne3 #infos_adresse h3, footer #colonne3 #infos_tel h3 {
  font-family: "MavenRegular";
}

footer #colonne3 #infos_tel {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer #colonne3 #icon1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne3 .fas {
  border-radius: 50%;
  background-color: var(--jauneclair);
  width: 70px;
  height: 70px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

footer #colonne3 .fa-phone-alt, footer #colonne3 .fa-map-marker-alt, footer #colonne3 .fa-route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  color: black;
}

footer #colonne3 #infos_adresse {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer #colonne3 #icon2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #colonne3 #infos_site {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer #colonne3 #icon3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer #mentionslegales h3, footer #politique h3, footer #cookies h3, footer #plansite h3 {
  font-family: "MavenRegular";
  font-weight: lighter;
  color: white;
  font-size: 15px;
}

footer #mentionslegales {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer #politique {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
}

footer #cookies {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 6;
  grid-column: 6;
  text-align: right;
}

footer #plansite {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: right;
}

@media (min-width: 1281px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'MavenBold';
  }
  nav {
    background: var(--black);
  }
  nav:after {
    content: '';
    clear: both;
    display: table;
  }
  nav .logo img {
    float: left;
    width: 10%;
    margin: 10px 0 10px 10%;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    line-height: 100px;
    list-style: none;
    position: relative;
    margin-right: 10%;
  }
  nav ul li {
    text-align: left;
    display: inline-block;
    background: var(--black);
    margin: 0 5px;
  }
  nav ul li a {
    color: var(--white);
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 50px;
  }
  nav ul li a:hover {
    color: var(--bleuclair);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px var(--bleu), 0 0 10px var(--bleuclair);
            box-shadow: 0 0 5px var(--bleu), 0 0 10px var(--bleuclair);
  }
  nav ul ul li a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav ul ul {
    position: absolute;
    top: 120px;
    border-top: 3px solid var(--bleuclair);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: top .3s;
    transition: top .3s;
  }
  nav ul li:hover > ul {
    top: 100px;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li {
    position: relative;
    margin: 0px;
    width: auto;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid var(--bleu);
    text-align: center;
  }
  nav ul ul li a {
    line-height: 50px;
  }
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,
  .icon,
  input {
    display: none;
  }
  .fa-plus {
    font-size: 15px;
    margin-left: 40px;
  }
}

@media all and (min-width: 1281px) and (max-width: 1280px) {
  nav .logo img {
    width: 25%;
    margin: 10px 0;
  }
  nav ul {
    margin-right: 0px;
    text-align: center;
    width: 100% !important;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100% !important;
  }
  nav ul li a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .show {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: var(--bleuclair);
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 100px;
    cursor: pointer;
    font-size: 2em;
  }
  nav ul ul {
    width: 100%;
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    text-align: center;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^=btn]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: '\f00d';
  }
}

@media (min-width: 1281px) {
  .content {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  p {
    font-size: 30px;
    font-weight: 500;
  }
}

#contenu_modif1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 10% 25% 1fr 35% 10% 5%;
      grid-template-columns: 5% 10% 25% 1fr 35% 10% 5%;
  -ms-grid-rows: 6vh 30vh 6vh 6vh 6vh;
      grid-template-rows: 6vh 30vh 6vh 6vh 6vh;
}

#contenu_modif1 #modif_imagePDP {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

#contenu_modif1 #modif_imagePDP img {
  width: 227px;
  height: 227px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#contenu_modif1 #modif_imgbanniere {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

#contenu_modif1 #modif_imgbanniere img {
  width: 535px;
  height: 150px;
  margin: auto;
}

#contenu_modif1 #modif_pdp {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  margin: auto;
  font-family: "MavenBold";
}

#contenu_modif1 #modif_banniere {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 5;
  grid-column: 5;
  margin: auto;
  font-family: "MavenBold";
}

#contenu_modif1 #modif_nom {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
  text-align: right;
  font-family: "MavenBold";
  margin-top: auto;
  margin-bottom: auto;
}

#contenu_modif1 #modif_prenom {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 4;
  grid-row: 4;
  text-align: left;
  font-family: "MavenBold";
  margin-top: auto;
  margin-bottom: auto;
}

#contenu_modif1 #modif_bio {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  grid-row: 5;
  text-align: left;
  font-family: "MavenBold";
  margin: auto;
}

#contenu_modif2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6vh 6vh 6vh 6vh 6vh 6vh 6vh 70vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 8vh 6vh 6vh 6vh;
      grid-template-rows: 6vh 6vh 6vh 6vh 6vh 6vh 6vh 70vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 8vh 6vh 6vh 6vh;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
}

#contenu_modif2 #texte_bio {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

#contenu_modif2 #texte_bio textarea {
  border-radius: 30px;
  background-color: var(--bleufonce);
  color: white;
  padding-left: 15px;
  font-size: 30px;
  font-family: "MavenBold";
}

#contenu_modif2 #titreInformations {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  font-family: "MavenBold";
  color: var(--bleufonce);
  font-size: 40px;
}

#contenu_modif2 #adressemail_modif {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
}

#contenu_modif2 #adressemail_modif textarea {
  width: 20%;
}

#contenu_modif2 #datenaissance_modif {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: right;
}

#contenu_modif2 #titre_mdp {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 9;
  grid-row: 9;
  -ms-grid-column: 2;
  grid-column: 2;
  font-family: "MavenBold";
  color: var(--bleufonce);
  font-size: 40px;
  text-align: center;
}

#contenu_modif2 #ancienmdp_modif {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 11;
  grid-row: 11;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
}

#contenu_modif2 #newmdp_modif {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 13;
  grid-row: 13;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
}

#contenu_modif2 #confirmnewnmdp_modif {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 15;
  grid-row: 15;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
}

#contenu_modif2 #deco_modif {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 17;
  grid-row: 17;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
  font-family: "MavenBold";
  color: var(--bleufonce);
  font-size: 40px;
}

#contenu_modif2 #supprcompte_modif {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 19;
  grid-row: 19;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
  font-family: "MavenBold";
  color: var(--bleufonce);
  font-size: 40px;
}
/*# sourceMappingURL=main.css.map */